My Compass.json
[{"id":"980b2269.6c3dc","type":"tab","label":"My Compass","disabled":false,"info":""},{"id":"47f5cfa2.1045f","type":"compass","z":"980b2269.6c3dc","name":"","x":260,"y":180,"wires":[["60042359.67278c"]]},{"id":"60042359.67278c","type":"function","z":"980b2269.6c3dc","name":"","func":"msg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":180,"wires":[["75101745.a56b68"]]},{"id":"164db8d5.f5ad97","type":"sensor subscribe","z":"980b2269.6c3dc","sensor":"compass","freq":"1000","name":"Compass","x":440,"y":120,"wires":[["3d3a6c7b.5d3514"]]},{"id":"163ae351.f4362d","type":"inject","z":"980b2269.6c3dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Start!","payloadType":"str","x":270,"y":120,"wires":[["164db8d5.f5ad97"]]},{"id":"3d3a6c7b.5d3514","type":"debug","z":"980b2269.6c3dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"88cb3148.0e8c9","type":"magnetic","z":"980b2269.6c3dc","name":"","x":240,"y":400,"wires":[["2a140d46.5991c2","65ab8a7a.54bb24","183c3aaf.eef845","a336273b.d5fe58","603efed5.f82c9"]]},{"id":"b4088404.3eff38","type":"sensor subscribe","z":"980b2269.6c3dc","sensor":"magnetic","freq":"1000","name":"Magnetic","x":440,"y":280,"wires":[["ed7e11a3.8df74"]]},{"id":"ed7e11a3.8df74","type":"debug","z":"980b2269.6c3dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"65ab8a7a.54bb24","type":"function","z":"980b2269.6c3dc","name":"","func":"msg.payload = msg.payload.x;\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":340,"wires":[["a25c5f21.46875"]]},{"id":"2a140d46.5991c2","type":"function","z":"980b2269.6c3dc","name":"","func":"msg.payload = msg.payload.y;\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":419.99998474121094,"y":413.333251953125,"wires":[["20427d35.2448c2"]]},{"id":"183c3aaf.eef845","type":"function","z":"980b2269.6c3dc","name":"","func":"msg.payload = msg.payload.z;\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":423.3333282470703,"y":489.9998779296875,"wires":[["94995c2d.79e51"]]},{"id":"20427d35.2448c2","type":"ui_text","z":"980b2269.6c3dc","group":"1d2b728c.98747d","order":3,"width":0,"height":0,"name":"","label":"Rotation Y (rad/s)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":420,"wires":[]},{"id":"94995c2d.79e51","type":"ui_text","z":"980b2269.6c3dc","group":"1d2b728c.98747d","order":4,"width":0,"height":0,"name":"","label":"Rotation Z (rad/s)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":500,"wires":[]},{"id":"aa13fe3d.e6f6d","type":"inject","z":"980b2269.6c3dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Start!","payloadType":"str","x":250,"y":280,"wires":[["b4088404.3eff38"]]},{"id":"a336273b.d5fe58","type":"function","z":"980b2269.6c3dc","name":"","func":"msg.payload = msg.payload.magnitude;\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":580,"wires":[["a9a4e941.58c508"]]},{"id":"a9a4e941.58c508","type":"ui_gauge","z":"980b2269.6c3dc","name":"","group":"1df7d346.42501d","order":1,"width":"0","height":"0","gtype":"wave","title":"Magnitude","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":580,"wires":[]},{"id":"603efed5.f82c9","type":"function","z":"980b2269.6c3dc","name":"","func":"msg.payload = msg.payload.accuracy;\nmsg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":640,"wires":[["31093df1.f59422"]]},{"id":"31093df1.f59422","type":"ui_gauge","z":"980b2269.6c3dc","name":"","group":"1df7d346.42501d","order":5,"width":"8","height":"4","gtype":"donut","title":"Magnetic Accurancy","label":"units","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":640,"wires":[]},{"id":"75101745.a56b68","type":"ui_gauge","z":"980b2269.6c3dc","name":"","group":"a48c479.d9269b8","order":2,"width":0,"height":0,"gtype":"compass","title":"","label":"Degree","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":180,"wires":[]},{"id":"a25c5f21.46875","type":"ui_text","z":"980b2269.6c3dc","group":"1d2b728c.98747d","order":2,"width":0,"height":0,"name":"","label":"Rotation X (rad/s)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":340,"wires":[]},{"id":"1d2b728c.98747d","type":"ui_group","name":"Magnet","tab":"90df9b84.4000c8","order":2,"disp":true,"width":"8","collapse":false},{"id":"1df7d346.42501d","type":"ui_group","name":"Magnetic Sensor","tab":"90df9b84.4000c8","order":3,"disp":true,"width":"8","collapse":false},{"id":"a48c479.d9269b8","type":"ui_group","name":"Compass","tab":"90df9b84.4000c8","order":1,"disp":true,"width":"8","collapse":false},{"id":"90df9b84.4000c8","type":"ui_tab","name":"My Compass","icon":"dashboard","order":5,"disabled":false,"hidden":false}]