My Location.json
[{"id":"87ad09f1.d3ab28","type":"tab","label":"Location","disabled":false,"info":""},{"id":"b47f2afd.1b4538","type":"location","z":"87ad09f1.d3ab28","name":"","x":190,"y":200,"wires":[["aa09d0eb.f1cc2","2369867b.1b7d6a","1459f13b.5f6c2f","e14ce126.05559","6e19c3ff.38929c"]]},{"id":"aa09d0eb.f1cc2","type":"function","z":"87ad09f1.d3ab28","name":"","func":"msg.payload = msg.payload.latitude;\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["b0f660ea.1615e"]]},{"id":"2369867b.1b7d6a","type":"function","z":"87ad09f1.d3ab28","name":"","func":"msg.payload = msg.payload.longitude;\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":280,"wires":[["9f3323ff.72da3"]]},{"id":"1459f13b.5f6c2f","type":"function","z":"87ad09f1.d3ab28","name":"","func":"msg.payload = msg.payload.accuracy;\nmsg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":360,"wires":[["d04c75cf.27e5a8"]]},{"id":"d04c75cf.27e5a8","type":"ui_gauge","z":"87ad09f1.d3ab28","name":"","group":"88d69d20.9a881","order":5,"width":"8","height":"4","gtype":"donut","title":"Location Accurancy","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":360,"wires":[]},{"id":"b0f660ea.1615e","type":"ui_text","z":"87ad09f1.d3ab28","group":"88d69d20.9a881","order":1,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":200,"wires":[]},{"id":"9f3323ff.72da3","type":"ui_text","z":"87ad09f1.d3ab28","group":"88d69d20.9a881","order":2,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":280,"wires":[]},{"id":"4acec4ca.cc516c","type":"sensor subscribe","z":"87ad09f1.d3ab28","sensor":"geolocation","freq":"1000","name":"Location","x":520,"y":100,"wires":[["3b9b5ad.84b72a6"]]},{"id":"3b9b5ad.84b72a6","type":"debug","z":"87ad09f1.d3ab28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"70063c73.72cd14","type":"inject","z":"87ad09f1.d3ab28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Start!","payloadType":"str","x":190,"y":100,"wires":[["a10e4424.208e38"]]},{"id":"e14ce126.05559","type":"ui_text","z":"87ad09f1.d3ab28","group":"88d69d20.9a881","order":3,"width":0,"height":0,"name":"","label":"GPS Coordinates","format":"41° 19' 39.162'' N","layout":"row-spread","x":590,"y":440,"wires":[]},{"id":"6e19c3ff.38929c","type":"ui_text","z":"87ad09f1.d3ab28","group":"88d69d20.9a881","order":4,"width":0,"height":0,"name":"","label":"","format":"19° 49' 7.3164'' E","layout":"row-spread","x":550,"y":500,"wires":[]},{"id":"a10e4424.208e38","type":"ui_button","z":"87ad09f1.d3ab28","name":"","group":"88d69d20.9a881","order":5,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":100,"wires":[["4acec4ca.cc516c"]]},{"id":"88d69d20.9a881","type":"ui_group","name":"Location Sensor","tab":"e7099dec.d2f6b","order":1,"disp":true,"width":"8","collapse":false},{"id":"e7099dec.d2f6b","type":"ui_tab","name":"My Location","icon":"dashboard","order":4,"disabled":false,"hidden":false}]