My sensors.json
[{"id":"9b6c94cd.13b9c8","type":"tab","label":"My Sensors","disabled":false,"info":""},{"id":"30690f57.fc792","type":"group","z":"9b6c94cd.13b9c8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6536718f.830f7"],"x":194,"y":359,"w":192,"h":82},{"id":"afd4db72.fb8708","type":"db","z":"9b6c94cd.13b9c8","name":"","x":270,"y":220,"wires":[["5bb97939.92dae8"]]},{"id":"5bb97939.92dae8","type":"function","z":"9b6c94cd.13b9c8","name":"","func":"var db = msg.payload.avg;\ndb = db-30;\ndb = db.toFixed(2);\nmsg.payload = db;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":220,"wires":[["f9698a1a.0f3b58"]]},{"id":"f9698a1a.0f3b58","type":"ui_gauge","z":"9b6c94cd.13b9c8","name":"","group":"444894ee.8d624c","order":1,"width":0,"height":0,"gtype":"gage","title":"Sound Intensity","label":"dB","format":"{{value}}","min":0,"max":"100","colors":["#80ffff","#0273e3","#1205fc"],"seg1":"","seg2":"","x":600,"y":220,"wires":[]},{"id":"5ae6668b.ceda38","type":"light","z":"9b6c94cd.13b9c8","name":"","x":130,"y":400,"wires":[["6536718f.830f7"]]},{"id":"6536718f.830f7","type":"ui_gauge","z":"9b6c94cd.13b9c8","g":"30690f57.fc792","name":"","group":"c63627f1.5c7318","order":4,"width":0,"height":0,"gtype":"gage","title":"LightSensor","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":400,"wires":[]},{"id":"d987ea78.a256d8","type":"ui_button","z":"9b6c94cd.13b9c8","name":"","group":"444894ee.8d624c","order":3,"width":0,"height":0,"passthru":false,"label":"Microphone","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":100,"wires":[["4f8e901d.431c2"]]},{"id":"e4fd3549.2e76d8","type":"function","z":"9b6c94cd.13b9c8","name":"","func":"var db = msg.payload.min;\ndb = db-30;\ndb = db.toFixed(2);\nmsg.payload = db;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":140,"wires":[["b1c91fad.5639"]]},{"id":"a7a5c9ab.500d88","type":"function","z":"9b6c94cd.13b9c8","name":"","func":"var db = msg.payload.max;\ndb = db-30;\ndb = db.toFixed(2);\nmsg.payload = db;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":60,"wires":[["c242265e.756028"]]},{"id":"c242265e.756028","type":"ui_text","z":"9b6c94cd.13b9c8","group":"444894ee.8d624c","order":2,"width":0,"height":0,"name":"","label":"Maximum Value","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":60,"wires":[]},{"id":"e5808e90.3b72b","type":"inject","z":"9b6c94cd.13b9c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Start!","payloadType":"str","x":130,"y":220,"wires":[["afd4db72.fb8708"]]},{"id":"4f8e901d.431c2","type":"db","z":"9b6c94cd.13b9c8","name":"","x":270,"y":100,"wires":[["a7a5c9ab.500d88","e4fd3549.2e76d8"]]},{"id":"b1c91fad.5639","type":"ui_text","z":"9b6c94cd.13b9c8","group":"444894ee.8d624c","order":2,"width":0,"height":0,"name":"","label":"Minimum Value","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":140,"wires":[]},{"id":"46b70c9e.b15d44","type":"sensor subscribe","z":"9b6c94cd.13b9c8","sensor":"light","freq":"100","name":"","x":280,"y":320,"wires":[["3a61d974.d59496"]]},{"id":"3a61d974.d59496","type":"debug","z":"9b6c94cd.13b9c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"b9d36d89.9dc03","type":"inject","z":"9b6c94cd.13b9c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Start!","payloadType":"str","x":130,"y":320,"wires":[["46b70c9e.b15d44"]]},{"id":"590a4322.f06acc","type":"motion","z":"9b6c94cd.13b9c8","name":"","x":110,"y":660,"wires":[["2ea749bd.16f716","efde0fe3.2653d","87ea431a.69582"]]},{"id":"553d0fa6.98d5d","type":"ui_text","z":"9b6c94cd.13b9c8","group":"2498c8b6.ac6d78","order":1,"width":0,"height":0,"name":"","label":"Motion X (m/s^2)","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":600,"wires":[]},{"id":"6518bad2.fac7f4","type":"ui_text","z":"9b6c94cd.13b9c8","group":"2498c8b6.ac6d78","order":1,"width":0,"height":0,"name":"","label":"Motion Y (m/s^2)","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":660,"wires":[]},{"id":"32df1c06.c283d4","type":"ui_text","z":"9b6c94cd.13b9c8","group":"2498c8b6.ac6d78","order":1,"width":0,"height":0,"name":"","label":"Motion Z (m/s^2)","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":720,"wires":[]},{"id":"dcc65767.fa3208","type":"inject","z":"9b6c94cd.13b9c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Start!","payloadType":"str","x":110,"y":520,"wires":[["13d085b2.08179a"]]},{"id":"7d9f0648.55cc98","type":"debug","z":"9b6c94cd.13b9c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":520,"wires":[]},{"id":"13d085b2.08179a","type":"sensor subscribe","z":"9b6c94cd.13b9c8","sensor":"motion","freq":"1000","name":"","x":280,"y":520,"wires":[["7d9f0648.55cc98"]]},{"id":"2ea749bd.16f716","type":"function","z":"9b6c94cd.13b9c8","name":"","func":"msg.payload = msg.payload.x;\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":600,"wires":[["553d0fa6.98d5d"]]},{"id":"efde0fe3.2653d","type":"function","z":"9b6c94cd.13b9c8","name":"","func":"msg.payload = msg.payload.y;\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":660,"wires":[["6518bad2.fac7f4"]]},{"id":"87ea431a.69582","type":"function","z":"9b6c94cd.13b9c8","name":"","func":"msg.payload = msg.payload.z;\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":720,"wires":[["32df1c06.c283d4"]]},{"id":"cb1a97a.9a8b268","type":"gyroscope","z":"9b6c94cd.13b9c8","name":"","x":100,"y":940,"wires":[["52a07619.41f128","41c4fa0e.976ae4","531b33e.5d0cfcc"]]},{"id":"5274c223.5a65ac","type":"ui_text","z":"9b6c94cd.13b9c8","group":"faa66e12.cf7a3","order":1,"width":0,"height":0,"name":"","label":"Rotation X (rad/s)","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":880,"wires":[]},{"id":"642de476.6d12cc","type":"ui_text","z":"9b6c94cd.13b9c8","group":"faa66e12.cf7a3","order":1,"width":0,"height":0,"name":"","label":"Rotation Y (rad/s)","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":940,"wires":[]},{"id":"2c60d435.4771cc","type":"ui_text","z":"9b6c94cd.13b9c8","group":"faa66e12.cf7a3","order":1,"width":0,"height":0,"name":"","label":"Rotation Z (rad/s)","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":1000,"wires":[]},{"id":"52a07619.41f128","type":"function","z":"9b6c94cd.13b9c8","name":"","func":"msg.payload = msg.payload.x;\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":880,"wires":[["5274c223.5a65ac"]]},{"id":"c78fd15b.14246","type":"inject","z":"9b6c94cd.13b9c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Start!","payloadType":"str","x":110,"y":780,"wires":[["55972cec.24df74"]]},{"id":"93cc94b.88d4368","type":"debug","z":"9b6c94cd.13b9c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":780,"wires":[]},{"id":"55972cec.24df74","type":"sensor subscribe","z":"9b6c94cd.13b9c8","sensor":"gyroscope","freq":"1000","name":"","x":300,"y":780,"wires":[["93cc94b.88d4368"]]},{"id":"41c4fa0e.976ae4","type":"function","z":"9b6c94cd.13b9c8","name":"","func":"msg.payload = msg.payload.y;\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":940,"wires":[["642de476.6d12cc"]]},{"id":"531b33e.5d0cfcc","type":"function","z":"9b6c94cd.13b9c8","name":"","func":"msg.payload = msg.payload.z;\nmsg.payload = msg.payload.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1000,"wires":[["2c60d435.4771cc"]]},{"id":"444894ee.8d624c","type":"ui_group","name":"Microphone Option","tab":"6c42d8e.4926428","order":2,"disp":true,"width":"8","collapse":false},{"id":"c63627f1.5c7318","type":"ui_group","name":"Light Sensor","tab":"7c6f7715.542a38","order":1,"disp":true,"width":"8","collapse":false},{"id":"2498c8b6.ac6d78","type":"ui_group","name":"Motion Setting","tab":"7c6f7715.542a38","order":3,"disp":true,"width":"8","collapse":false},{"id":"faa66e12.cf7a3","type":"ui_group","name":"Gyroscope Setting","tab":"7c6f7715.542a38","order":4,"disp":true,"width":"8","collapse":false},{"id":"6c42d8e.4926428","type":"ui_tab","name":"Voice APP","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7c6f7715.542a38","type":"ui_tab","name":"Phone Sensors","icon":"dashboard","order":2,"disabled":false,"hidden":false}]