Voice Assistant.json
[{"id":"11c4420d.f708fe","type":"tab","label":"Voice Assistant","disabled":false,"info":""},{"id":"89cb3b41.17f558","type":"change","z":"11c4420d.f708fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"How can I help you\",\"lang\":\"en-US\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":220,"wires":[["32dda13e.27e59e"]]},{"id":"32dda13e.27e59e","type":"text-to-speech","z":"11c4420d.f708fe","name":"","x":360,"y":220,"wires":[["10dac364.220f3d"]]},{"id":"e4c7ccbf.bd4eb","type":"speech-to-text","z":"11c4420d.f708fe","name":"","x":980,"y":220,"wires":[["9551649c.ba94d8","41844cc2.a83f34"]]},{"id":"ef647873.0d9908","type":"change","z":"11c4420d.f708fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"language\":\"en-US\",\"matches\":5,\"prompt\":\"please talk\",\"showPopup\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":220,"wires":[["e4c7ccbf.bd4eb"]]},{"id":"34128280.2e542e","type":"debug","z":"11c4420d.f708fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":500,"wires":[]},{"id":"9551649c.ba94d8","type":"switch","z":"11c4420d.f708fe","name":"CODE","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"open","vt":"str","case":true},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":110,"y":360,"wires":[["ea4734df.af5c88"],["ae20a3f5.01eec"]]},{"id":"10dac364.220f3d","type":"delay","z":"11c4420d.f708fe","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":220,"wires":[["ef647873.0d9908"]]},{"id":"ea4734df.af5c88","type":"switch","z":"11c4420d.f708fe","name":"SWITCH","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"youtube","vt":"str","case":true},{"t":"regex","v":"gmail","vt":"str","case":true}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":360,"wires":[["4536e4ab.0eb4fc"],["43b37d87.f4d994"]]},{"id":"be3fba89.8620c8","type":"text-to-speech","z":"11c4420d.f708fe","name":"Invalid Phrase","x":400,"y":500,"wires":[["34128280.2e542e"]]},{"id":"ae20a3f5.01eec","type":"change","z":"11c4420d.f708fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Invalid phrase\",\"lang\":\"en-US\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":500,"wires":[["be3fba89.8620c8"]]},{"id":"4536e4ab.0eb4fc","type":"change","z":"11c4420d.f708fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Opening YouTube\",\"lang\":\"en-US\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":320,"wires":[["7404ed3e.b1bb04"]]},{"id":"7404ed3e.b1bb04","type":"text-to-speech","z":"11c4420d.f708fe","name":"youtube","x":840,"y":320,"wires":[["b8436c4e.f022d"]]},{"id":"41844cc2.a83f34","type":"debug","z":"11c4420d.f708fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":140,"wires":[]},{"id":"67482b75.f27c94","type":"ui_button","z":"11c4420d.f708fe","name":"","group":"5403483.82eb5b8","order":2,"width":0,"height":0,"passthru":false,"label":"Voice Asisstent","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":80,"wires":[["89cb3b41.17f558"]]},{"id":"7ef1cd68.f51494","type":"browser open","z":"11c4420d.f708fe","name":"YouTube","target":"system","url":"https://www.youtube.com","options":"","x":1180,"y":320,"wires":[["41844cc2.a83f34"]]},{"id":"ed1b8125.6ea31","type":"ui_text","z":"11c4420d.f708fe","group":"5403483.82eb5b8","order":1,"width":0,"height":0,"name":"","label":"","format":"This is a simulation of a voice chat. Press the button in order to open the Voice Assisstent","layout":"row-spread","x":430,"y":80,"wires":[]},{"id":"b8436c4e.f022d","type":"delay","z":"11c4420d.f708fe","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":320,"wires":[["7ef1cd68.f51494"]]},{"id":"43b37d87.f4d994","type":"change","z":"11c4420d.f708fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Opening Gmail\",\"lang\":\"en-US\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":400,"wires":[["dea4f8fe.80b6f8"]]},{"id":"dea4f8fe.80b6f8","type":"text-to-speech","z":"11c4420d.f708fe","name":"Email","x":830,"y":400,"wires":[["e0d7e3a8.0dc04"]]},{"id":"ed844ee1.3985f","type":"browser open","z":"11c4420d.f708fe","name":"Gmail","target":"system","url":"https://www.gmail.com","options":"","x":1230,"y":400,"wires":[["41844cc2.a83f34"]]},{"id":"e0d7e3a8.0dc04","type":"delay","z":"11c4420d.f708fe","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":400,"wires":[["ed844ee1.3985f"]]},{"id":"5403483.82eb5b8","type":"ui_group","name":"APP Information","tab":"6c42d8e.4926428","order":1,"disp":true,"width":"8","collapse":false},{"id":"6c42d8e.4926428","type":"ui_tab","name":"Voice APP","icon":"dashboard","order":1,"disabled":false,"hidden":false}]